<footer class="flex max-w-screen-xl grow ">
  <div class="">

    Box 1
  </div>
  <div class="flex items-center justify-center grow">
    <p class="font-bold text-md">

      &copy; {{ "now" | date: "%Y" }} - Kreatives Schreiben e.V.
    </p>
  </div>



  <div class="flex items-center justify-center ">

    Box3

  </div>

</footer>